* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Avenir', 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased; /* Working on dark backgrounds */
  box-sizing: border-box;
}
html {
  font-size: 1vw;
}
@media (min-width: 1920px) {
  html {
    font-size: .9vw;
  }
}
@media (min-width: 2400px) {
  html {
    font-size: .75vw;
  }
}
h1, h2 {
  font-family: "Industry Inc";
}

.wrapper {
  background: #000;
  background-image: url("./images/security_bg_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 850px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.wrapper.fixed {
  overflow: hidden;
}

.mainHeader {
  height: 6rem; }

.game {
  height: 91%; }

.column {
  display: flex;
  padding: 0 !important; }

h2 {
  font-family: "Industry Inc";
  font-size: 1.25rem;
  color: #fff;
  line-height: 1;
  font-weight: normal;
  text-shadow: 0 0 10px #2185D0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 0.8rem 1.2rem;
  margin: 0;
  border-bottom: 2px solid #2185D0; }

.main-menu {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-end;
  padding-right: 30px;
  height: 100%; }
  .main-menu li {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main-menu li {
      color: #fff;
      -webkit-font-smoothing: antialiased;
      padding: 0 1rem 0 0;
      font-size: 1.1rem;
      font-family: 'Avenir', sans-serif; }

.region {
  padding: 10px; }

.top-left-nav {
  height: 68%;
  padding: 0 15px 15px 30px; }

.bottom-left-nav {
  height: 32%;
  padding: 10px 15px 30px 30px; }

.center-content {
  height: 100%;
  padding-top: 0;
  padding-bottom: 30px; }

.top-right-nav {
  height: 45%;
  padding: 0 30px 15px 15px; }

.bottom-right-nav {
  height: 55%;
  padding: 10px 30px 30px 15px; }

.inner-col-wrap {
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #2185D0;
  box-shadow: 0 0 16px 6px rgba(33, 133, 208, 0.45);
  border-radius: 8px;
  height: 100%;
  position: relative; }

#bottom-left .top.tabular.menu {
  border: none; }
#bottom-left .bottom.tab {
  height: 79%;
  border: none;
  border-radius: 8px;
  background: transparent;
  margin: 0;
  padding: 0; }
